body {
  background-color: magenta;
}
.title {
  /*
	 * we are using the class attribute
	 */
  color: red;
}
#aboutus {
  /*
	 * we are using the id attribute
	 */
  color: blue;
}
h1:hover {
  /*
	 * hover is a pseudoselectors
	 */
  color: black;
}
#manu {
  width: 100%;
}
#service-image {
  height: 400px;
  width: 70%;

  background: url("../img/duck.jpg");
  background-size: 100px;
  background-color: black;
  /*background-repeat: no-repeat;*/
}
