body {
  background: rgba(204, 299, 255, 0.4);
}
.title {
  /*
	 * we are using the class attribute
	 */
  color: red;
}
#aboutus {
  /*
	 * we are using the id attribute
	 */
  color: blue;
}
h1:hover {
  /*
	 * hover is a pseudoselectors
	 */
  color: black;
}
#manu {
  width: 100%;
}
#service-image {
  height: 400px;
  width: 70%;

  background: linear-gradient(to right, red, blue);
  /*background-repeat: no-repeat;*/
}
#service-image2 {
  height: 400px;
  width: 70%;

  background: radial-gradient(red 20%, blue 40%, green 55%);
  /*background-repeat: no-repeat;*/
}
